<section class="home">
  <div class="h-content">
    <div class="h-header">
      <h6>Profile</h6>
    </div>

    <div class="h-container">
      <div class="h-content-1">
        <div class="h-content-profile">
          <img src="./assets/profile.jpeg" />
          <div>
            <h3>Gunalan.P</h3>
            <p>Entrepreneur</p>
          </div>
        </div>
        <div>
          <h6 class="mb-2">Option</h6>
          <div class="list-group">
            <a class="list-group-item" routerLink="userDetails">Forms</a>
            <a class="list-group-item" href="#">A third item</a>
            <a class="list-group-item" href="#">A fourth item</a>
            <a class="list-group-item" href="#">And a fifth one</a>
          </div>
        </div>
      </div>

      <div class="h-content-2">
        <h4>Travelers Spond</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus
          doloremque explicabo illo, in fuga necessitatibus dolorum error optio
          adipisci iusto?
        </p>
        <ul>
          <li>
            <div class="icon">
              <i class="fa-solid fa-paper-plane"></i>
            </div>
            <div>
              <h5>Travel</h5>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis,
                aliquid.
              </p>
            </div>
          </li>
          <li>
            <div class="icon">
              <i class="fa-solid fa-star"></i>
            </div>
            <div>
              <h5>Leasure</h5>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis,
                aliquid.
              </p>
            </div>
          </li>
          <li>
            <div class="icon">
              <i class="fa-solid fa-ticket"></i>
            </div>
            <div>
              <h5>Ticketing</h5>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis,
                aliquid.
              </p>
            </div>
          </li>
          <li>
            <div class="icon">
              <i class="fa-solid fa-maximize"></i>
            </div>
            <div>
              <h5>Mice</h5>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis,
                aliquid.
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<router-outlet></router-outlet>
